/* Center the form on the page */
.register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0;
  
    .register-card {
      width: 360px;
      .mat-card-header {
        text-align: center;
      }
  
      .mat-card-content {
        padding: 20px;
      }
  
      .field {
        margin-bottom: 20px;
  
        .mat-form-field {
          width: 100%;
  
          .mat-form-field-label {
            color: #3f51b5; /* Example color, adjust as needed */
          }
  
          .mat-form-field-infix {
            padding: 0 12px;
          }
  
          .mat-error {
            color: #f44336; /* Error color */
          }
        }
      }
  
      button {
        width: 100%;
      }
  
      .mt-2 {
        text-align: center;
  
        a {
          color: #3f51b5; /* Example color for links */
          text-decoration: none;
          font-weight: bold;
        }
  
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
  