<mat-drawer-container class="example-container" autosize [hasBackdrop]="false">
    <mat-toolbar color="primary" class="mat-elevation-z4">
      <mat-toolbar-row>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="togglePrevState(); drawer.toggle()">
          <mat-icon>{{ isSidebarOpen ? 'blur_on' : 'apps' }}</mat-icon>
        </button>
        <!-- Add the Agile Atlas logo here -->
        <img src="assets/Agile_Atlas.png" alt="Agile Atlas Logo" class="logo" />
        <span routerLink="/home">Agile Atlas</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="help-button" aria-label="Help button">
          <mat-icon>help</mat-icon>
        </button>
        <button mat-icon-button class="settings-button" aria-label="Settings button" [matMenuTriggerFor]="settingsMenu">
          <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #settingsMenu="matMenu">
          <!-- <button mat-menu-item>View Hot Keys</button>
          <button mat-menu-item (click)="toggleDarkMode()">Toggle Theme (Ctrl+Shift+D)</button> -->
        </mat-menu>
        <button mat-icon-button class="logout-button" aria-label="Logout button" color="warn" (click)="logout()" matTooltip="Logout">
          <mat-icon>power_settings_new</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  
    <mat-drawer #drawer class="example-sidenav mat-elevation-z10" mode="side" (openedChange)="onDrawerToggled($event)">
      <app-side-bar></app-side-bar>
    </mat-drawer>
    <router-outlet></router-outlet>
  </mat-drawer-container>
  <ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
  <ng-keyboard-shortcuts-help [key]="'?'" [closeKey]="'escape'" [title]="'Help'"></ng-keyboard-shortcuts-help>
  